@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="topnav">
    <div class="nav-left">
        <a class="brand" href="">MovieAppr</a>
    </div>

    <button class="nav-toggle" @onclick="ToggleMenu">
        ☰
    </button>

    <div class="nav-links @(menuOpen ? "open" : "")">
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="search">Search</NavLink>
    </div>
</div>

<div class="main-content">
    @Body
</div>

@code {
    private bool menuOpen = false;

    void ToggleMenu()
    {
        menuOpen = !menuOpen;
    }
}
