name: Build, test and deploy Blazor app to GitHub Pages

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_test_deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    env:
      DOTNET_VERSION: "9.0.x"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore Blazor app
        run: dotnet restore ./BlazorMovieApp/BlazorMovieApp.csproj

      - name: Build Blazor app (Release)
        run: dotnet build ./BlazorMovieApp/BlazorMovieApp.csproj --configuration Release --no-restore

      - name: Run Playwright tests
        working-directory: ./BlazorMovieApp
        run: dotnet test ./MovieApp.PlaywrightTests/MovieApp.PlaywrightTests.csproj --configuration Release

      - name: Publish Blazor app
        run: dotnet publish ./BlazorMovieApp/BlazorMovieApp.csproj -c Release -o ./publish

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./publish/wwwroot

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
